.root{
	-fx-background-color:lightgray;
}

#light{
	-fx-background-color:wheat;
}

#dark{
	-fx-background-color:peru;
}

#selected{
	-fx-background-color:yellow;
}

#turnLabel{
	-fx-font-size:18pt;
	-fx-font-weight:bold;
}

.button{
	-fx-font-size:14pt;
	-fx-font-weight:bold;
	-fx-background-color:white;
}